/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/* Root var */
:root {
  /* ==== Colors ==== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: rgb(202, 53, 53);
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: rgb(5, 5, 5);
  /* ==== Transitions ==== */
  --tran-5: 0.5s;
  --tran-4: 0.4s;
  --tran-3: 0.3s;
  /* ==== Radius ==== */
  --radius: 10px;
}
/* Root var End */
/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  line-height: 1.5;
  font-size: 0.875rem;
  overflow-y: auto;
  background-color: var(--body-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

p {
  margin-bottom: 1.25rem;
}
/* Global End */

/* Main */

/* Section Starts */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vh;
  margin: 0 auto;
  max-width: 35rem;
  padding: 2rem;
  background: white;
  border-radius: var(--radius);
}

.section-center:hover {
  box-shadow: 10px 10px 10px rgb(0 0 0 / 10%);
}

.alert {
  margin-bottom: 1rem;
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  letter-spacing: 4px;
  text-transform: capitalize;
}

.alert-danger {
  color: #721c24;
  background: #f8d7da;
}

.alert-success {
  color: #155724;
  background: #d4edda;
}

.grocery-form h3 {
  color: rgb(9, 33, 42);
  margin-bottom: 1.5rem;
  text-align: center;
}

.form-control {
  display: flex;
  justify-content: center;
}

#grocery {
  padding: 0.25rem;
  padding-left: 1rem;
  background: rgb(222 222 222);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-color: transparent;
  font-size: 1rem;
  flex: 1 0 auto;
  color: rgb(42, 42, 42);
  outline: none;
  caret-color: black;
}

#grocery::placeholder {
  font-family: cursive;
  color: rgb(42, 42, 42);
}

.submit-btn {
  background: rgb(42, 153, 217);
  border-color: transparent;
  flex: 0 0 5rem;
  display: grid;
  align-items: center;
  padding: 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  cursor: pointer;
  transition: var(--tran-3);
  font-size: 0.85rem;
}

.submit-btn:hover {
  background: rgb(27, 99, 141);
  color: white;
}

.grocery-container {
  margin-top: 2rem;
  transition: var(--tran-3);
  visibility: hidden;
}

.show-container {
  visibility: visible;
}

.grocery-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  transition: var(--tran-3);
  padding: 0.25rem 1rem;
  border-radius: 25px;
  text-transform: capitalize;
}

.show main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.edit-btn,
.delete-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.clear-btn {
  width: 100%;
  padding: 0.6rem 0;
  border-radius: 25px;
  color: red;
  background-color: transparent;
  border: none;
  font-weight: bold;
  letter-spacing: 4px;
  cursor: pointer;
  transition: var(--tran-3);
}

.clear-btn:hover {
  background: rgb(237, 237, 237);
}

button i {
  font-size: 1.2rem !important;
}

.delete-btn {
  color: red;
}

.edit-btn {
  color: lightgreen;
}

/* Section Ends */

/* Main End */

/* Media Starts */

/* Phone Media */
@media (max-width: 380px) {
  .form-control {
    flex-direction: column;
  }

  .submit-btn {
    background: rgb(42, 153, 217);
    border-color: transparent;
    flex: 0 0 2rem;
    display: grid;
    align-items: center;
    padding: 0.25rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: var(--tran-3);
    margin-top: 1rem;
    border-radius: var(--radius);
  }

  #grocery {
    border-radius: 0;
  }
}
/* Phone Media Ends */
@media (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* Media Ends */
